/* Estilos para ocultar la lista y mostrar el menú desplegable */
.nav-list {
    display: none;
  }
  
  /* Estilos para el menú desplegable */
  .menu-toggle {
    display: none;
    cursor: pointer;
  }
  
  /* Estilos para dispositivos móviles */
  @media screen and (max-width: 768px) {
    .menu-toggle {
      display: block;
    }
  
    /* Estilos para mostrar la lista cuando se despliega el menú */
    .menu-open {
      display: block;
    }
  }
  